/* ALIGNMENT */
%va-b-c{vertical-align: bottom;} %va-t-c{vertical-align: top;}  %va-m-c{vertical-align: middle;}
%ta-r-c{text-align: right;} %ta-l-c{text-align: left;} %ta-c-c{text-align: center;} %ta-start-c{text-align: start;}

/* CURSOR */
%pointer-c {cursor: pointer}

/* DISPLAY */
%display-none {display: none}
%display-block {display: block}
%display-inline {display: inline}
%display-inline-block {display: inline-block}


/* FLEX */
%flex-c {display: flex; flex-wrap: nowrap}
%flex-w-c {display: flex; flex-wrap: wrap}
%flex-direction-col-c {flex-direction: column}
%flex-direction-col-reverse-c {flex-direction: column-reverse}
%flex-direction-row-c {flex-direction: row}
%flex-direction-row-reverse-c {flex-direction: row-reverse}
%flex-wrap-reverse-c {flex-wrap: wrap-reverse} 


%flex-justify-content-center-c {justify-content: center}
%flex-justify-content-start-c {justify-content: flex-start}
%flex-justify-content-end-c {justify-content: flex-end}
%flex-justify-content-around-c {justify-content: space-around}
%flex-justify-content-between-c {justify-content: space-between}

%flex-align-items-center-c {align-items: center}
%flex-align-items-start-c {align-items: flex-start}
%flex-align-items-end-c {align-items: flex-end}
%flex-align-items-stretch-c {align-items: stretch}
%flex-align-items-baseline-c {align-items: baseline}

%flex-align-content-center-c {align-content: center}
%flex-align-content-start-c {align-content: flex-start}
%flex-align-content-end-c {align-content: flex-end}
%flex-align-content-around-c {align-content: space-around}
%flex-align-content-between-c {align-content: space-between}
%flex-align-content-stretch-c {align-content: stretch}

%flex-item-align-self-center-c {align-self: center}
%flex-item-align-self-start-c {align-self: flex-start}
%flex-item-align-self-end-c {align-self: flex-end}

%flex-order-1-c {order: 1}
%flex-order-2-c {order: 2}
%flex-order-3-c {order: 3}
%flex-order-4-c {order: 4}
%flex-order-5-c {order: 5}
%flex-order-6-c {order: 6}

%flex-grow-1-c {flex-grow: 1}
%flex-grow-2-c {flex-grow: 2}
%flex-grow-3-c {flex-grow: 3}
%flex-grow-4-c {flex-grow: 4}
%flex-grow-5-c {flex-grow: 5}
%flex-grow-6-c {flex-grow: 6}
%flex-grow-7-c {flex-grow: 7}
%flex-grow-8-c {flex-grow: 8}
%flex-grow-9-c {flex-grow: 9}
%flex-grow-10-c {flex-grow: 10}

%flex-shrink-1-c {flex-shrink: 1}
%flex-shrink-2-c {flex-shrink: 2}
%flex-shrink-3-c {flex-shrink: 3}
%flex-shrink-4-c {flex-shrink: 4}
%flex-shrink-5-c {flex-shrink: 5}
%flex-shrink-6-c {flex-shrink: 6}

