




































/*%bg-primary-app { 
    background: $btn_primary_color;     
    background: -webkit-linear-gradient(left, $btn_primary_shadow_color , $btn_primary_color);
    background: -o-linear-gradient(right, $btn_primary_shadow_color, $btn_primary_color); 
    background: -moz-linear-gradient(right, $btn_primary_shadow_color, $btn_primary_color);
    background: linear-gradient(to right, $btn_primary_shadow_color , $btn_primary_color);
}
%bg-primary-app-hover { 
    background: #4d94ff;     
    background: -webkit-linear-gradient(left, $btn_primary_color , $btn_primary_shadow_color);
    background: -o-linear-gradient(right, $btn_primary_color, $btn_primary_shadow_color); 
    background: -moz-linear-gradient(right, $btn_primary_color, $btn_primary_shadow_color);
    background: linear-gradient(to right, $btn_primary_color , $btn_primary_shadow_color);
}
%bg-success-app { 
    background: $btn_success_color;     
    background: -webkit-linear-gradient(left, $btn_success_shadow_color , $btn_success_color);
    background: -o-linear-gradient(right, $btn_success_shadow_color, $btn_success_color); 
    background: -moz-linear-gradient(right, $btn_success_shadow_color, $btn_success_color);
    background: linear-gradient(to right, $btn_success_shadow_color , $btn_success_color);
}
%bg-success-app-hover { 
    background: $btn_success_color;     
    background: -webkit-linear-gradient(left, $btn_success_color , $btn_success_shadow_color);
    background: -o-linear-gradient(right, $btn_success_color, $btn_success_shadow_color); 
    background: -moz-linear-gradient(right, $btn_success_color, $btn_success_shadow_color);
    background: linear-gradient(to right, $btn_success_color , $btn_success_shadow_color);
}
*/